
*.md
Programación en Python/notebooks/.ipynb_checkpoints/Ejercicios-checkpoint.ipynb
Programación en Python/notebooks/.ipynb_checkpoints/Ejercicios-checkpoint.ipynb
Programación en Python/notebooks/.ipynb_checkpoints/practica_1_python-checkpoint.ipynb
